@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbc6c8;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #217074;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15494c;
}
